<!doctype html>
<html lang="en">
  <head>
    {{ partial "head.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/schema.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
      <h1><a class="anchor" href="/#{{ .Page.Date.Format "20060102T150405Z0700" }}">{{ .Page.Title }}</a></h1>
      <time class='single' datetime="{{ .Page.Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Page.Date.Format "02 January 2006" }}</time>
      {{ partial "cover.html" . }}
      {{ .Content }}
      {{ partial "footer.html" . }}
    </main>
  </body>
</html>
