<footer>
  <section id="about-the-author">
    <img class="meicon" src="/resources/david_collantes.png" alt="David Collantes" title="David Collantes">
    <div>
      <h3>About me</h3>
      <p class="summary">
        I am a father and a husband living in <a href="https://en.wikipedia.org/wiki/Orlando,_Florida" alt="Orlando">Orlando</a>, <a href="https://en.wikipedia.org/wiki/Florida" alt="FLorida">FL</a>, <a href="https://en.wikipedia.org/wiki/United_States" alt="U.S.A.">U.S.A.</a> In here I write about whatever happens to interest me from time to time. Nothing on this site is affiliated with, sponsored, or endorsed by my employer.
      </p>
    </div>
  </section>
</footer>
