<footer>
  <section id="about-the-author">
    <img class="meicon" src="/resources/david_collantes.png" alt="David Collantes" title="David Collantes">
    <div>
      <p class="summary">
        <a href="/about/" alt="About me">I am</a> a father and a husband living in <a href="https://en.wikipedia.org/wiki/Orlando,_Florida" alt="Orlando">Orlando</a>, <a href="https://en.wikipedia.org/wiki/Florida" alt="FLorida">FL</a>, <a href="https://en.wikipedia.org/wiki/United_States" alt="U.S.A.">U.S.A.</a>
      </p>
    </div>
  </section>
</footer>
